tmp/*
!empty
.cordova

*.un~
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS files to ignore
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
*.sql
*.sqlite
.DS_Store
._.DS_Store
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
.svn
.AppleDouble
._*

*.tmproj
/nbproject
/nbproject/private/
